<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Jamal Spelling - A phonetic alphabet spelling application</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <script type="text/javascript" src="/static/audio-player.js"></script>
    <script type="text/javascript">
        AudioPlayer.setup("/static/player.swf", {
            width: 290
        });
    </script>
</head>
<body>

<form action="/spell" method="post">
    <p>
        <label for="q">Spell a word:</label> <input name="q" type="text" />
    </p>
    <p>
    <label for="dialect">Dialect:</label>
    <select size="1" name="dialect">
        {% for dialect in dialects %}
          {% ifequal dialect.0 active_dialect %}
            <option value="{{ dialect.0 }}" selected="selected">{{ dialect.1 }}</option>
          {% else %}
            <option value="{{ dialect.0 }}">{{ dialect.1 }}</option>
          {% endifequal %}
        {% endfor %}
    </select>
    </p>
    <label for="lang">Language:</label>
    <select size="1" name="lang">
        {% for lang in supported_langs %}
          {% ifequal lang.0 active_lang %}
            <option value="{{ lang.0 }}" selected="selected">{{ lang.1 }}</option>
          {% else %}
            <option value="{{ lang.0 }}">{{ lang.1 }}</option>
          {% endifequal %}
        {% endfor %}
    </select>
    <input name="submit" type="submit" value="Spell" />
</form>


{% if spelling_list %}
<hr />
<div id="result">
<ul>
{% for word in spelling_list %}
    <li>{{ word }}</li>
{% endfor %}
</ul>

<p id="audioplayer_1">Alternative content</p>
<script type="text/javascript">
    AudioPlayer.embed("audioplayer_1", {soundFile: "{{ audio_url }}"});
</script>
</div>
{% endif %}

</body>
</html>